@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .section-transition {
    @apply transition-all duration-300 ease-in-out;
  }
}

/* Custom Animations */
@keyframes shimmer-slide {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer-slide {
  animation: shimmer-slide 1.5s infinite linear;
}

@keyframes ping-slow {

  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.animate-ping-slow {
  animation: ping-slow 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}